<%= form_with(model: admin_preference, local: true) do |form| %>
  <% if admin_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_preference.errors.count, "error") %> prohibited this admin_preference from being saved:</h2>

      <ul>
      <% admin_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :song_order %>
    <%= form.text_field :song_order %>
  </div>

  <div class="field">
    <%= form.label :artist_order %>
    <%= form.text_field :artist_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
