<p id="notice"><%= notice %></p>

<p>
  <strong>Song order:</strong>
  <%= @admin_preference.song_order %>
</p>

<p>
  <strong>Artist order:</strong>
  <%= @admin_preference.artist_order %>
</p>

<%= link_to 'Edit', edit_admin_preference_path(@admin_preference) %> |
<%= link_to 'Back', admin_preferences_path %>
